/*st.css*/


canvas, *{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body{
	background-color:#030207;
}
#title{
	/* -webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em; */
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#login_title_image{
	/* -webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em; */
	float:right;
}
#login_block{
	float:left;
}
#overlay{
/* 
	display:none;   */

	background-color: rgba(0,256,256,.2);
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: 10;
}
#account_container{
overflow: hidden;
	background-color: rgba(0,0,0,.80);
	color:#ffffff;
	font-weight:bold;
	visibility:visible;
	margin-left:auto;
	margin-right:auto;
	margin-top: 4em;
	padding:2em;
	width:20em; 
	font-size:1.5em;
}
#privacyText{
	font-size:.6em;
	font-weight:normal;
	color:#ffffff;
}
.account_title{
	color:#efefef;
	font-size:1.5em;
	font-weight:bold;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
.uas_switch{
    text-decoration: underline;
	color:#236969;
	cursor: pointer;
}
/* #login_username, #login_password, #login_submit{
	font-size:1em;
} */
#login_error, #create_error{
	display:none;
	color:#ff2323;
}
#loginSection{
	display:none;
}
#createSection{
	display:none;
}
#privacySection{
	display:none;
}