/*st.css*/


/***********************
* PRIMARY DOM ELEMENTS *
***********************/

*{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body{
	background-color:#030207;
}
#c{
	position: fixed;
	top:0px;
	left:0px;
	z-index:0;
}
#overlay{
	background-color: rgba(0,255,255,.2);
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: 10;
}


/*************
* HUD MODULE *
*************/

/*  hexInfo  */

#hud_hexInfo_container{
	pointer-events:auto;
	display: none;
	position: fixed;
	bottom:0px;
	left:0px;
	background-color: rgba( 239,239,239, .7 );
	height: 3em;
	width:13em;
	z-index: 5;
	font-size:1.3em;
	text-align: center;
	margin-bottom: 1em;
	padding: .2em;
}
#hud_hexInfo_title{ 
}
#hud_hexInfo_owner{ 
	font-size: .75em;
}
#hud_hexInfo_ucoords{ 
	font-size: .75em;
	display: inline;
	float:right;
}
#hud_hexInfo_lcoords{ 
	font-size: .75em;
	display: inline;
	float:left;
}

#hud_hexInfo_collapse_icon{
	pointer-events:default;
	font-size: .5em;
	width: 1.2em;
	height: 1.2em;
	line-height: 1.2em; /* must be the same as height */
	vertical-align: middle;
	text-align: center;
	position: absolute;
	right: 0px;
	top: 0px;
	color: rgb(239,239,239);
	background-color: rgba(0,0,0,.9);
	border: none;
	cursor: pointer;
}

/*  thingInfo  */

#hud_thingInfo_container{	
	pointer-events:auto;
	display: none;
	position: fixed;
	top:0px;
	right:0px;
	background-color: rgba( 239,239,239,.7 );
	width: 15em;
	z-index: 5;
	font-size:1.3em;
	text-align: center;
	margin-top: 1em;
	padding: .2em;
}
#hud_thingInfo_thing_logo{
	width: 100px;
	height: 100px;
	border-top: .2em solid;
	border-bottom: .2em solid;
	border-right: 2em solid;
	border-left: 2em solid;
	border-color: black;
	margin-left:auto;
	margin-right:auto;
}
#hud_thingInfo_collapse_icon{
	pointer-events:default;
	font-size: .5em;
	width: 1.2em;
	height: 1.2em;
	line-height: 1.2em;  /* must be the same as height */
	text-align: center;
	vertical-align: middle;
	position: absolute;
	left: 0px;
	top: 0px;
	color: rgb(255,255,255);
	background-color: rgba(0,0,0,.9);
	border: none;
	cursor: pointer;
}
.hud_thingInfo_orders{
	margin:  .2em;
	border: 1px solid black;
}

/*  systemInfo  */

#hud_systemInfo_container{
	background-color: rgba( 239,239,239,.7 );
	position:absolute;
	left: 15%;
	top: 15%;
	overflow: hidden;
	color:#ffffff;
	font-weight:bold;
	visibility:visible; 
	margin-top: 1em;
	padding: 0em;
	width: 70%;
	height: 70%;
	font-size:1em;
	z-index: 12;
}

#hud_systemInfo_canvas{
	width: 100%;
	height: 100%;
	z-index: 0;
	background-color:#000000;
}

#hud_systemInfo_starInfo{
	position: absolute;
	width: 3em;
	height: 2em;
	background-color: rgba( 239,239,239,.7 );
	left:0;
	bottom: 2em;
	z-index: 5;
}
#hud_systemInfo_planetInfo{
	position: absolute;
	width: 3em;
	height: 2em;
	background-color: rgba( 239,239,239,.7 );
	left: 10em;
	top:  7em;
	z-index:5;
}
#hud_systemInfo_closeButton{
	pointer-events:default;
	font-size: .5em;
	width: 3em;
	height: 3em;
	line-height: 3em; /* must be the same as height */
	vertical-align: middle;
	text-align: center;
	position: absolute;
	right: 0px;
	top: 0px;
	color: rgb(255,255,255);
	background-color: rgba(130,0,0,.9);
	z-index: 10;
}

/*************
* UAS MODULE *
*************/


#privacyText{
	font-size:.6em;
	font-weight:normal;
	color:#ffffff;
}
#uas_error{
	display:none;
	color:#ff2323;
}
#uas_title{
/* 	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;  */
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
	
}
.uas_subtitle{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#login_title_image{
	/* -webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em; */
	float:right;
}
#login_block{
	float:left;
}
#uas_container{
	position:fixed;
	left: 50%;
	overflow: hidden;
	background-color: rgba(0,0,0,.80);
	color:#ffffff;
	font-weight:bold;
	visibility:visible;
	margin-top: 1em;
	margin-left: -10em;
	padding:2em;
	width:20em; 
	font-size:1.5em;
	z-index: 11;
}